:root {
	/* ------- colors ------- */
	--primary-color: #19191b;
	--secondary-color: #27272b;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #d66b14;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
